<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <ul>
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-signup" />
      </ul>
      <ul>
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-signup" />
      </ul>
      <button type="submit" id="signup-btn" class="btn" >Signup!</button>
      <a href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="../public/javascript/signup.js"></script>